
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="w-andar-ka3">
      <div class="w-andar-ka3-inner">
        <header class="nav-group">
          <div class="nav13"></div>
          <div class="empty-frame">
            <div class="about-section">
              <nav class="parent-node-a">
                <nav class="about-gallery-services1">
                  <div class="about13">About</div>
                  <div class="gallery13">Gallery</div>
                  <div class="services14">Services</div>
                </nav>
              </nav>
              <div class="a3p13">A^3P</div>
            </div>
          </div>
          <img
            class="prof-1-icon12"
            loading="lazy"
            alt=""
            src="./assets/prof.png"
          />
        </header>
      </div>
      <section class="wedding-planner-frame">
        <img
          class="wedding-planner-amico-22"
          loading="lazy"
          alt=""
          src="./assets/Wedding planner-amico.png"
        />

        <div class="second-frame">
          <div class="location-mumbai-size-50000-parent">
            <div class="location-mumbai-size-container">
              <p class="location-mumbai5">Location: Mumbai</p>
              <p class="size-50000-sqt">Size: 50,000 sqt</p>
              <p class="contact-number-87459280342">
                Contact Number: 8745928034
              </p>
              <p class="price-300000">Price: 300000</p>
            </div>
            <button class="rectangle-parent16">
              <div class="frame-child4"></div>
              <div class="book-now17" routerLink="/form">Book Now</div>
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>

