

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="p-andar-ka1">
      <div class="nav1"></div>
      <div class="a3p1">A^3P</div>
      <div class="about-parent">
        <div class="about1">About</div>
        <div class="gallery1">Gallery</div>
        <div class="services1">Services</div>
      </div>
      <img class="prof-1-icon1" alt="" src="./assets/prof.png" />

      <div class="location-pune-contact-container">
        <p class="location-pune">Location: Pune</p>
        <p class="contact-number-0384736428">Contact Number: 0384736428</p>
        <p class="price-1000">Price: 1000</p>
      </div>
      <div class="group-div">
        <div class="group-child"></div>
        <div class="book-now" routerLink="/form">Book Now</div>
      </div>
      <img
        class="studio-photographer-bro-11"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />
    </div>
  </body>

