.a3p3,
.nav3 {
  position: absolute;
}
.nav3 {
  top: 32px;
  left: 199px;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  width: 1040px;
  height: 70px;
}
.a3p3 {
  top: 46px;
  left: 677px;
  font-family: var(--font-italiana);
  display: inline-block;
  width: 86px;
  height: 40px;
}
.about3,
.gallery3 {
  top: 0;
  display: inline-block;
}
.about3 {
  position: absolute;
  left: 0;
  width: 67px;
  height: 23px;
}
.gallery3 {
  left: 97px;
  width: 77px;
}
.about-container,
.gallery3,
.services3 {
  position: absolute;
  height: 23px;
}
.services3 {
  top: 0;
  left: 204px;
  display: inline-block;
  width: 85px;
}
.about-container {
  top: 54px;
  left: 225px;
  width: 289px;
  font-size: var(--font-size-6xl);
}
.prof-1-icon3 {
  position: absolute;
  top: 45px;
  left: 1168px;
  width: 44px;
  height: 44.5px;
  object-fit: cover;
}
.contact-number-0742947572,
.location-nashik,
.price-2000 {
  margin: 0;
}
.location-nashik-contact-container {
  position: absolute;
  top: 325px;
  left: 818px;
  font-weight: 600;
  display: inline-block;
  width: 585px;
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 216px;
  height: 75px;
}
.book-now2 {
  position: absolute;
  top: 22px;
  left: 19px;
  font-weight: 600;
}
.rectangle-parent2 {
  position: absolute;
  top: 557px;
  left: 818px;
  width: 216px;
  height: 75px;
}
.studio-photographer-bro-12 {
  position: absolute;
  top: 129px;
  left: 85px;
  width: 550px;
  height: 707px;
  object-fit: cover;
}
.p-andar-ka2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 834px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-josefin-slab);
}
