
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="p-andar-ka2">
      <div class="nav3"></div>
      <div class="a3p3">A^3P</div>
      <div class="about-container">
        <div class="about3">About</div>
        <div class="gallery3">Gallery</div>
        <div class="services3">Services</div>
      </div>
      <img class="prof-1-icon3" alt="" src="./assets/prof.png" />

      <div class="location-nashik-contact-container">
        <p class="location-nashik">Location: Nashik</p>
        <p class="contact-number-0742947572">Contact Number: 0742947572</p>
        <p class="price-2000">Price: 2000</p>
      </div>
      <div class="rectangle-parent2">
        <div class="group-inner"></div>
        <div class="book-now2" routerLink="/form">Book Now</div>
      </div>
      <img
        class="studio-photographer-bro-12"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />
    </div>
  </body>

