<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="c-andar-ka3">
      <div class="nav6"></div>
      <div class="a3p6">A^3P</div>
      <div class="about-parent3">
        <div class="about6">About</div>
        <div class="gallery6">Gallery</div>
        <div class="services6">Services</div>
      </div>
      <img class="prof-1-icon6" alt="" src="./assets/prof.png" />

      <div class="location-mumbai-contact-container1">
        <p class="location-mumbai1">Location: Mumbai</p>
        <p class="contact-number-87459280341">Contact Number: 8745928034</p>
        <p class="price-30001">Price: 3000</p>
      </div>
      <div class="rectangle-parent5">
        <div class="group-child2"></div>
        <div class="book-now5" routerLink="/form">Book Now</div>
      </div>
      <img
        class="cake-shop-rafiki-13"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />
    </div>
  </body>
</html>
