<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="successful-register">
      <section class="frame-section">
        <div class="frame-child5"></div>
        <div class="cc0aec0350e6b325271880ba85570-wrapper">
          <img
            class="cc0aec0350e6b325271880ba85570-icon"
            loading="lazy"
            alt=""
            src="./assets/tick.jpg"
          />
        </div>
        <div class="confirmation-message">
          <div class="you-have-successfully">
            You have successfully booked this service !!
          </div>
          <div class="you-will-receive-the-receipt-o-wrapper">
            <div class="you-will-receive">
              You will receive the receipt on your mobile number
            </div>
          </div>
        </div>
        <div class="mainbtn">
          <div class="btn">
            <button class="btn-primary" routerLink="/homepage">Logout</button>
          </div>
          <div class="btn">
            <button class="btn-secondary" routerLink="/afterlogindef">Back to Explore</button>
          </div>          
        </div>
      </section>
    </div>
  </body>
</html>