
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

   
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="wedding">
      <div class="nav7"></div>
      <div class="a3p7">A^3P</div>
      <div class="about-parent4">
        <div class="about7">About</div>
        <div class="gallery7">Gallery</div>
        <div class="services7">Services</div>
      </div>
      <img class="prof-1-icon7" alt="" src="./assets/prof.png" />

      <div class="left1"></div>
      <div class="right1"></div>
      <div class="mid1"></div>
      <div class="wedding-venue1">Wedding Venue</div>
      <img
        class="wedding-planner-amico-11"
        alt=""
        src="./assets/Wedding planner-amico.png"
      />

      <img
        class="studio-photographer-bro-14"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />

      <img
        class="cake-shop-rafiki-14"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />

      <div class="location-pune2">Location: Pune</div>
      <div class="location-nashik2">Location: Nashik</div>
      <div class="location-mumbai2">Location: Mumbai</div>
      <div class="rectangle-parent6">
        <div class="group-child3"></div>
        <!-- <div class="book-now6">Book Now</div> -->
        <button routerLink="/w1" class="book-now6">Book Now</button>
      </div>
      <div class="rectangle-parent7">
        <div class="group-child4"></div>
        <button routerLink="/w2" class="book-now7">Book Now</button>
      </div>
      <div class="rectangle-parent8">
        <div class="group-child5"></div>
        <button routerLink="/w3" class="book-now8">Book Now</button>
      </div>
    </div>
  </body>

