
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />


    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="cake1">
      <div class="nav13"></div>
      <div class="a3p13">A^3P</div>
      <div class="about-parent8">
        <div class="about13">About</div>
        <div class="gallery13">Gallery</div>
        <div class="services14">Services</div>
      </div>
      <img class="prof-1-icon12" alt="" src="./assets/prof.png" />

      <div class="left3"></div>
      <div class="right3"></div>
      <div class="mid3"></div>
      <div class="cake2">Cake</div>
      <img
        class="wedding-planner-amico-14"
        alt=""
        src="./assets/Wedding planner-amico.png"
      />

      <img
        class="studio-photographer-bro-17"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />

      <img
        class="cake-shop-rafiki-17"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />

      <div class="rectangle-parent15">
        <div class="group-child11"></div>
        <button routerLink="/c1" class="book-now15">Book Now</button>
      </div>
      <div class="rectangle-parent16">
        <div class="group-child12"></div>
        <button routerLink="/c2" class="book-now16">Book Now</button>
      </div>
      <div class="rectangle-parent17">
        <div class="group-child13"></div>
        <button routerLink="/c3" class="book-now17">Book Now</button>
      </div>
      <div class="location-pune5">Location: Pune</div>
      <div class="location-nashik5">Location: Nashik</div>
      <div class="location-mumbai5">Location: Mumbai</div>
    </div>
  </body>

