<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="homef">
      <div class="nav9"></div>
      <div class="a3p9">A^3P</div>
      <div class="about9">About</div>
      <div class="gallery13">Gallery</div>
      <div class="services12">Services</div>
      <img class="prof-1-icon8" alt="" src="./assets/prof.png" />

      <div class="left1"></div>
      <div class="right1"></div>
      <div class="mid1"></div>
      <div class="our-services">OUR SERVICES</div>
      <img
        class="wedding-planner-amico-12"
        alt=""
        src="./assets/Wedding planner-amico.png"
      />

      <img
        class="studio-photographer-bro-15"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />

      <img
        class="cake-shop-rafiki-15"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />

      <div class="wedding-venue1">Wedding venue</div>
      <div class="photography">Photography</div>
      <div class="birthdaywedding-cake">
        <p class="birthdaywedding">Birthday/wedding</p>
        <p class="cake">cake</p>
      </div>
      <div class="rectangle-parent13">
        <div class="group-child57"></div>
        <button routerLink="/wedding" class="explore">Explore</button>
      </div>
      <div class="rectangle-parent14">
        <div class="group-child58"></div>
        <button routerLink="/photography" class="explore1">Explore</button>
      </div>
      <div class="rectangle-parent15">
        <div class="group-child59"></div>
        <button routerLink="/cake" class="explore2">Explore</button>
      </div>
    </div>
  </body>