
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="c-andar-ka2">
      <div class="nav4"></div>
      <div class="a3p4">A^3P</div>
      <div class="about-parent1">
        <div class="about4">About</div>
        <div class="gallery4">Gallery</div>
        <div class="services4">Services</div>
      </div>
      <img class="prof-1-icon4" alt="" src="./assets/prof.png" />

      <div class="location-nashik-contact-container1">
        <p class="location-nashik1">Location: Nashik</p>
        <p class="contact-number-07429475721">Contact Number: 0742947572</p>
        <p class="price-20001">Price: 2000</p>
      </div>
      <div class="rectangle-parent3">
        <div class="rectangle-div"></div>
        <div class="book-now3" routerLink="/form">Book Now</div>
      </div>
      <img
        class="cake-shop-rafiki-12"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />
    </div>
  </body>

