.a3p4,
.nav4 {
  position: absolute;
}
.nav4 {
  top: 32px;
  left: 199px;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  width: 1040px;
  height: 70px;
}
.a3p4 {
  top: 46px;
  left: 677px;
  font-family: var(--font-italiana);
  display: inline-block;
  width: 86px;
  height: 40px;
}
.about4,
.gallery4 {
  top: 0;
  display: inline-block;
}
.about4 {
  position: absolute;
  left: 0;
  width: 67px;
  height: 23px;
}
.gallery4 {
  left: 97px;
  width: 77px;
}
.about-parent1,
.gallery4,
.services4 {
  position: absolute;
  height: 23px;
}
.services4 {
  top: 0;
  left: 204px;
  display: inline-block;
  width: 85px;
}
.about-parent1 {
  top: 54px;
  left: 225px;
  width: 289px;
  font-size: var(--font-size-6xl);
}
.prof-1-icon4 {
  position: absolute;
  top: 45px;
  left: 1168px;
  width: 44px;
  height: 44.5px;
  object-fit: cover;
}
.contact-number-07429475721,
.location-nashik1,
.price-20001 {
  margin: 0;
}
.location-nashik-contact-container1 {
  position: absolute;
  top: 325px;
  left: 818px;
  font-weight: 600;
  display: inline-block;
  width: 585px;
}
.rectangle-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 216px;
  height: 75px;
}
.book-now3 {
  position: absolute;
  top: 22px;
  left: 19px;
  font-weight: 600;
}
.rectangle-parent3 {
  position: absolute;
  top: 557px;
  left: 818px;
  width: 216px;
  height: 75px;
}
.cake-shop-rafiki-12 {
  position: absolute;
  top: 156px;
  left: 70px;
  width: 693px;
  height: 663.2px;
  object-fit: contain;
}
.c-andar-ka2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 834px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-josefin-slab);
}
