<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="about-us">
      <section class="about-us-inner">
        <div class="frame-parent">
          <header class="frame-wrapper">
            <div class="nav-parent">
              <div class="nav"></div>
              <div class="frame-group">
                <nav class="frame-container">
                  <nav class="about-parent">
                    <div class="about">About</div>
                    <div class="gallery">Gallery</div>
                    <div class="services">Services</div>
                  </nav>
                </nav>
                <div class="a3p">A^3P</div>
              </div>
              <div class="login-signin-label">
                <button class = "log-insign-in"routerLink="/login">Login</button>
              </div>
            </div>
          </header>
          <div class="header-group">
            <div class="nice-to-meet-you-we-akshata-p-wrapper">
              <div class="nice-to-meet-container">
                <p class="nice-to-meet-you">
                  <b>NICE TO MEET YOU</b>
                </p>
                <p class="we-akshata-purvee">
                  We Akshata, Purvee, Adwait and Adnan the co-founders of this
                  website known as A^3P have build this website to solve a
                  problem of organizing events.
                </p>
              </div>
            </div>
            <img
              class="about-us-page-pana-1"
              loading="lazy"
              alt=""
              src="./assets/About us page-pana.png"
            />
          </div>
        </div>
      </section>
      <section class="screenshot-2024-03-11-150435-1-wrapper">
        <img
          class="screenshot-2024-03-11-150435-1"
          loading="lazy"
          alt=""
          src="./assets/ss.png"
        />
      </section>
      <div class="services-wrapper">
        <h2 class="services1">Services</h2>
      </div>
      <section class="booking-section">
        <div class="wedding-planner">
          <img
            class="wedding-planner-amico-1"
            loading="lazy"
            alt=""
            src="./assets/Wedding planner-amico.png"
          />

          <div class="book-wedding-venues">
            Book wedding venues easily: Search, browse listings with photos,
            descriptions, and reviews. Secure online booking with payment
            options. Additional services available. Responsive customer support.
            Instant confirmation and follow-up.
          </div>
          <img
            class="cake-shop-rafiki-1"
            loading="lazy"
            alt=""
            src="./assets/cake shop-rafiki.png"
          />

          <div class="book-cake-services">
            Book cake services effortlessly: Search, view portfolios with photos
            and reviews. Secure online booking with payment options. Additional
            customization available. Responsive customer support. Instant
            confirmation and follow-up.
          </div>
          <img
            class="studio-photographer-bro-1"
            loading="lazy"
            alt=""
            src="./assets/Studio photographer-bro.png"
          />

          <div class="book-photography-services">
            Book photography services effortlessly: Search, view portfolios with
            photos and reviews. Secure online booking with payment options.
            Additional services available. Responsive customer support. Instant
            confirmation and follow-up.
          </div>
        </div>
      </section>
      <footer class="phone-label">
        <div class="phone-label-child"></div>
        <div class="contact-us-">Contact us - abcgmail.com</div>
        <div class="contact-number-">contact number - 98XXXX98XX</div>
      </footer>
    </div>
  </body>