
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

 
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="photography1">
      <div class="nav10"></div>
      <div class="a3p10">A^3P</div>
      <div class="about-parent7">
        <div class="about10">About</div>
        <div class="gallery14">Gallery</div>
        <div class="services13">Services</div>
      </div>
      <img class="prof-1-icon9" alt="" src="./assets/prof.png" />

      <div class="left2"></div>
      <div class="right2"></div>
      <div class="mid2"></div>
      <div class="photography2">Photography</div>
      <img
        class="wedding-planner-amico-13"
        alt=""
        src="./assets/Wedding planner-amico.png"
      />

      <img
        class="studio-photographer-bro-16"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />

      <img
        class="cake-shop-rafiki-16"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />

      <div class="rectangle-parent16">
        <div class="group-child60"></div>
        <button routerLink="/p1" class="book-now10">Book Now</button>
      </div>
      <div class="rectangle-parent17">
        <div class="group-child61"></div>
        <button routerLink="/p2" class="book-now11">Book Now</button>
      </div>
      <div class="rectangle-parent18">
        <div class="group-child62"></div>
        <button routerLink="/p3" class="book-now12">Book Now</button>
      </div>
      <div class="location-pune3">Location: Pune</div>
      <div class="location-nashik3">Location: Nashik</div>
      <div class="location-mumbai4">Location: Mumbai</div>
    </div>
  </body>