<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="p-andar-ka3">
      <div class="nav5"></div>
      <div class="a3p5">A^3P</div>
      <div class="about-parent2">
        <div class="about5">About</div>
        <div class="gallery5">Gallery</div>
        <div class="services5">Services</div>
      </div>
      <img class="prof-1-icon5" alt="" src="./assets/prof.png" />

      <div class="location-mumbai-contact-container">
        <p class="location-mumbai">Location: Mumbai</p>
        <p class="contact-number-8745928034">Contact Number: 8745928034</p>
        <p class="price-3000">Price: 3000</p>
      </div>
      <div class="rectangle-parent4">
        <div class="group-child1"></div>
        <div class="book-now4"routerLink="/form">Book Now</div>
      </div>
      <img
        class="studio-photographer-bro-13"
        alt=""
        src="./assets/Studio photographer-bro.png"
      />
    </div>
  </body>
</html>
