/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-josefin-slab: "Josefin Slab";
    --font-italiana: Italiana;
    --font-manrope: Manrope;
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-21xl: 40px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
    --font-size-6xl: 25px;
    --font-size-base: 16px;
    --font-size-45xl: 64px;
    --font-size-11xl: 30px;
    --font-size-lg: 18px;
    --font-size-31xl: 50px;
    --font-size-51xl: 70px;
    --font-size-37xl: 56px;
    --font-size-23xl: 42px;
  
    /* Colors */
    --color-white: #fff;
    --color-lavender: #d4e2ff;
    --color-black: #000;
    --color-gainsboro-100: #e6e6e6;
    --color-gainsboro-200: #d9d9d9;
    --color-darkslategray-100: #444546;
    --color-darkslategray-200: #333;
    --color-cornflowerblue-100: #7eaafe;
    --color-cornflowerblue-200: #7eaafd;
    --color-lightskyblue: #6ecbf2;
    --color-gray-100: #2d2b2b;
    --color-gray-200: #1a1a1a;
    --color-gray-300: rgba(255, 255, 255, 0.8);
    --color-silver: #c2c0c0;
    --color-lightblue-100: rgba(197, 238, 255, 0.7);
    --color-darkslateblue: #003366;
    --color-steelblue-100: #3b99bf;
    --color-steelblue-200: rgba(59, 153, 191, 0.09);
  
    /* Gaps */
    --gap-43xl: 62px;
    --gap-mini: 15px;
    --gap-12xl: 31px;
    --gap-0: 0px;
    --gap-32xl: 51px;
    --gap-30xl: 49px;
    --gap-100xl: 119px;
    --gap-96xl: 115px;
    --gap-36xl: 55px;
    --gap-xl: 20px;
    --gap-98xl: 117px;
    --gap-29xl: 48px;
    --gap-5xl: 24px;
    --gap-33xl: 52px;
    --gap-7xl: 26px;
    --gap-6xl: 25px;
    --gap-mid: 17px;
  
    /* Paddings */
    --padding-13xl: 32px;
    --padding-50xl: 69px;
    --padding-39xl: 58px;
    --padding-15xl: 34px;
    --padding-59xl: 78px;
    --padding-17xl: 36px;
    --padding-40xl: 59px;
    --padding-28xl: 47px;
    --padding-32xl: 51px;
    --padding-19xl: 38px;
    --padding-24xl: 43px;
    --padding-3xl: 22px;
    --padding-lgi: 19px;
    --padding-smi: 13px;
    --padding-47xl: 66px;
    --padding-xs: 12px;
    --padding-33xl: 52px;
    --padding-21xl: 40px;
    --padding-30xl: 49px;
    --padding-7xs: 6px;
    --padding-16xl: 35px;
    --padding-11xs: 2px;
    --padding-53xl: 72px;
    --padding-46xl: 65px;
    --padding-23xl: 42px;
    --padding-9xl: 28px;
    --padding-base: 16px;
    --padding-8xl: 27px;
    --padding-smi-5: 12.5px;
    --padding-7xl: 26px;
    --padding-12xs: 1px;
    --padding-5xs: 8px;
    --padding-xl: 20px;
    --padding-22xl: 41px;
    --padding-6xl: 25px;
    --padding-12xl: 31px;
    --padding-45xl: 64px;
    --padding-mini: 15px;
    --padding-lg: 18px;
    --padding-10xs: 3px;
    --padding-2xs: 11px;
    --padding-4xs: 9px;
    --padding-3xs: 10px;
    --padding-sm: 14px;
    --padding-mid: 17px;
    --padding-25xl: 44px;
    --padding-75xl: 94px;
    --padding-101xl: 120px;
    --padding-41xl: 60px;
    --padding-20xl: 39px;
  
    /* Border radiuses */
    --br-xl: 20px;
    --br-mini: 15px;
    --br-21xl: 40px;
    --br-53xl: 72px;
  }

  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-italiana: Italiana;
    --font-josefin-slab: "Josefin Slab";
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-xl: 20px;
    --font-size-base: 16px;
    --font-size-mini: 15px;
    --font-size-31xl: 50px;
    --font-size-11xl: 30px;
    --font-size-21xl: 40px;
    --font-size-6xl: 25px;
    --font-size-5xl: 24px;
    --font-size-13xl: 32px;
  
    /* Colors */
    --color-lightsteelblue-100: #c5d7ff;
    --color-white: #fff;
    --color-royalblue: #6482ef;
    --color-black: #000;
    --color-darkslategray: #333;
    --color-lavender: #d4e2ff;
    --color-gainsboro: #e6e6e6;
  
    /* Gaps */
    --gap-40xl: 59px;
    --gap-32xl: 51px;
    --gap-xl: 20px;
    --gap-11xl: 30px;
  
    /* Paddings */
    --padding-97xl: 116px;
    --padding-xl: 20px;
    --padding-lg: 18px;
    --padding-lgi: 19px;
    --padding-20xl: 39px;
    --padding-25xl: 44px;
    --padding-mini: 15px;
    --padding-23xl: 42px;
    --padding-22xl: 41px;
    --padding-13xl: 32px;
    --padding-15xl: 34px;
    --padding-40xl: 59px;
    --padding-19xl: 38px;
    --padding-28xl: 47px;
    --padding-28xl-2: 47.2px;
    --padding-mid: 17px;
    --padding-7xl: 26px;
    --padding-12xs: 1px;
    --padding-smi: 13px;
    --padding-smi-5: 12.5px;
    --padding-5xs: 8px;
    --padding-71xl: 90px;
    --padding-2xl: 21px;
  
    /* Border radiuses */
    --br-xl: 20px;
  }
  