<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;1,500&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap"
    />
  </head>
  <body>
    <div class="w-andar-ka1">
      <div class="w-andar-ka1-inner">
        <header class="nav-container">
          <div class="nav5"></div>
          <div class="info-box-wrapper">
            <div class="info-box">
              <nav class="button">
                <nav class="gallery9">
                  <div class="about5">About</div>
                  <div class="gallery10">Gallery</div>
                  <div class="services8">Services</div>
                </nav>
              </nav>
              <div class="a3p5">A^3P</div>
            </div>
          </div>
          <img
            class="prof-1-icon4"
            loading="lazy"
            alt=""
            src="./assets/prof.png"
          />
        </header>
      </div>
      <section class="secondary-frame">
        <img
          class="wedding-planner-amico-2"
          loading="lazy"
          alt=""
          src="./assets/Wedding planner-amico.png"
        />

        <div class="location-frame2">
          <div class="location-details-text">
            <div class="location-pune-size-container">
              <p class="location-pune3">Location: Pune</p>
              <p class="size-20000-sqt">Size: 20,000 sqt</p>
              <p class="contact-number-0384736428">
                Contact Number: 0384736428
              </p>
              <p class="price-100000">Price: 100000</p>
            </div>
            <button class="rectangle-parent14">
              <div class="frame-child22"></div>
              <div routerLink="/form" class="book-now9">Book Now</div>
            </button>
          </div>
        </div>
      </section>
    </div>
  </body>
