.a3p13,
.nav13 {
  position: absolute;
}
.nav13 {
  top: 32px;
  left: 199px;
  border-radius: var(--br-xl);
  background-color: var(--color-lavender);
  width: 1040px;
  height: 70px;
}
.a3p13 {
  top: 46px;
  left: 677px;
  font-family: var(--font-italiana);
  display: inline-block;
  width: 86px;
  height: 40px;
}
.about13,
.gallery13 {
  top: 0;
  display: inline-block;
}
.about13 {
  position: absolute;
  left: 0;
  width: 67px;
  height: 23px;
}
.gallery13 {
  left: 97px;
  width: 77px;
}
.about-parent8,
.gallery13,
.services14 {
  position: absolute;
  height: 23px;
}
.services14 {
  top: 0;
  left: 204px;
  display: inline-block;
  width: 85px;
}
.about-parent8 {
  top: 54px;
  left: 225px;
  width: 289px;
  font-size: var(--font-size-6xl);
}
.prof-1-icon12,
.wedding-planner-amico-22 {
  position: absolute;
  top: 45px;
  left: 1168px;
  width: 44px;
  height: 44.5px;
  object-fit: cover;
}
.wedding-planner-amico-22 {
  top: 196px;
  left: 120px;
  width: 505px;
  height: 654px;
}
.contact-number-07429475722,
.location-nashik5,
.price-200000,
.size-30000-sqt {
  margin: 0;
}
.location-nashik-size-container {
  position: absolute;
  top: 325px;
  left: 818px;
  font-weight: 600;
  display: inline-block;
  width: 585px;
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 216px;
  height: 75px;
}
.book-now17 {
  position: absolute;
  top: 22px;
  left: 19px;
  font-weight: 600;
}
.rectangle-parent17 {
  position: absolute;
  top: 557px;
  left: 818px;
  width: 216px;
  height: 75px;
}
.w-andar-ka2 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 834px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
  font-family: var(--font-josefin-slab);
}
