<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Josefin Slab:wght@400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Italiana:wght@400&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="c-andar-ka1">
      <div class="nav2"></div>
      <div class="a3p2">A^3P</div>
      <div class="about-group">
        <div class="about2">About</div>
        <div class="gallery2">Gallery</div>
        <div class="services2">Services</div>
      </div>
      <img class="prof-1-icon2" alt="" src="./assets/prof.png" />

      <div class="location-pune-contact-container1">
        <p class="location-pune1">Location: Pune</p>
        <p class="contact-number-03847364281">Contact Number: 0384736428</p>
        <p class="price-10001">Price: 1000</p>
      </div>
      <div class="rectangle-parent1">
        <div class="group-item"></div>
        <div class="book-now1" routerLink="/form">Book Now</div>
      </div>
      <img
        class="cake-shop-rafiki-11"
        alt=""
        src="./assets/cake shop-rafiki.png"
      />
    </div>
  </body>